container{
    position:relative;
}
.container img{
    width: 1000px;
    height: 1000px;
    
}
.over{
 position:absolute;
top: 50%;                 
left: 15%;   
color: white;
font-size: 40px;           
}
.lay{
 position:absolute;
top: 40%;                 
left: 10%;   
color: white;
text-shadow: 3px 3px 3px black ;       
font-size: 40px;      
}
.over-layout{
position:absolute;
top: 8%;                 
left: 40%;   
color: red;
font-style:  italic;
font-size: 80px;  
text-shadow: 3px 3px 3px black ;       
}
.contain{
    position: relative;
}
.contain img{
    width: 800px;
    height: 800px;
}
.overlay-text{
position:absolute;
top: 10%;                 
left: 30%;   
color: white;
font-style:  italic;
text-shadow: 4px 4px 4px black;
font-size: 80px;         
}
.red{
 position:absolute;
top: 70%;                 
left: 25%;   
color: white;
font-size: 50px;   
}
.image-container{
     position: relative;
}
.image-container img{
    width: 800px;
    height: 800px;
}
.overplay{
 position:absolute;
top: 10%;                 
left: 25%;   
color: white;
font-style:  italic;
text-shadow: 3px 3px 3px black ;       
font-size: 80px;         
}  
.green{
 position:absolute;
top: 70%;                 
left: 15%;   
color: white;
text-shadow: 3px 3px 3px black ;       
font-size: 50px;   
}
.image-contain{
     position: relative;
}
.image-contain img{
    width: 700px;
    height: 700px;
}
.overhit{
 position:absolute;
top: 10%;                 
left: 20%;   
color: white;
font-style:  italic;
text-shadow: 3px 3px 3px black;
font-size: 80px;         
}
 .hear{
 position:absolute;
top: 70%;                 
left: 25%;   
color: white;
text-shadow: 3px 3px 3px black;
font-size: 50px;   
}
.image-con{
     position: relative;
}
.image-con img{
    width: 800px;
    height: 800px;
}
.overout{
 position:absolute;
top: 10%;                 
left: 10%;   
color: white;
font-style:  italic;
text-shadow: 3px 3px 3px black;
font-size: 80px;         
}  
.get{
 position:absolute;
top: 70%;                 
left: 15%;   
color: white;
text-shadow: 3px 3px 3px black;
font-size: 50px;   
}
.image-size{
     position: relative;
}
.image-size img{
    width: 800px;
    height: 800px;
}
.overweigt{
 position:absolute;
top: 10%;                 
left: 20%;   
color: white;
font-style:  italic;
 text-shadow: 3px 3px 3px black;
font-size: 80px;         
}   
.out{
 position:absolute;
top: 70%;                 
left: 20%;   
color: white;
text-shadow: 3px 3px 3px black;
font-size: 50px;   
}
.image-high{
     position: relative;
}
.image-high img{
    width: 800px;
    height: 800px;
}
.overheigt{
 position:absolute;
top: 10%;                 
left: 20%;   
color: white;
font-style:  italic;
text-shadow: 3px 3px 3px black;
font-size: 80px;         
}
.ball{
 position:absolute;
top: 70%;                 
left: 25%;   
color: white;
text-shadow: 3px 3px 3px black;
font-size: 50px;   
}











   









