.over-layout{
position:absolute;
top: 10%;                 
left: 40%;   
color: black;
font-size: 80px;         
}
.container{
    position:relative;
}
.container img{
    width: 1000px;
    height: 1000px;   
}


